USE [master]
GO
/****** Object:  Database [Quanlylichthi]    Script Date: 4/15/2026 7:32:17 PM ******/
CREATE DATABASE [Quanlylichthi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Quanlylichthi', FILENAME = N'C:\Program Files\Microsoft SQL Server 2019 Express\MSSQL15.SQLEXPRESS\MSSQL\DATA\Quanlylichthi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Quanlylichthi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server 2019 Express\MSSQL15.SQLEXPRESS\MSSQL\DATA\Quanlylichthi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Quanlylichthi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Quanlylichthi]
GO
/****** Object:  Table [dbo].[CoiThi]    Script Date: 4/15/2026 7:32:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoiThi](
	[MaLichThi] [int] NOT NULL,
	[TenGiangVien] [nvarchar](100) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichThi] ASC,
	[TenGiangVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichThi]    Script Date: 4/15/2026 7:32:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichThi](
	[MaLichThi] [int] IDENTITY(1,1) NOT NULL,
	[MaMon] [nvarchar](20) NULL,
	[MaPhong] [nvarchar](20) NULL,
	[NgayThi] [date] NULL,
	[CaThi] [int] NULL,
	[HinhThucThi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 4/15/2026 7:32:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMon] [nvarchar](20) NOT NULL,
	[TenMon] [nvarchar](100) NOT NULL,
	[SoTinChi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongThi]    Script Date: 4/15/2026 7:32:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongThi](
	[MaPhong] [nvarchar](20) NOT NULL,
	[TenPhong] [nvarchar](50) NULL,
	[SucChua] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/15/2026 7:32:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[UserRole] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CoiThi] ([MaLichThi], [TenGiangVien], [GhiChu]) VALUES (13, N'Thầy Đào Ngọc Tú', N'Coi thi chính')
INSERT [dbo].[CoiThi] ([MaLichThi], [TenGiangVien], [GhiChu]) VALUES (14, N'Cô Bùi Thị Hương', N'Coi thi phụ')
GO
SET IDENTITY_INSERT [dbo].[LichThi] ON 

INSERT [dbo].[LichThi] ([MaLichThi], [MaMon], [MaPhong], [NgayThi], [CaThi], [HinhThucThi]) VALUES (13, N'JAVA01', N'P101', CAST(N'2026-05-20' AS Date), 1, N'Thực hành')
INSERT [dbo].[LichThi] ([MaLichThi], [MaMon], [MaPhong], [NgayThi], [CaThi], [HinhThucThi]) VALUES (14, N'SQL02', N'P101', CAST(N'2026-05-21' AS Date), 2, N'Trắc nghiệm')
INSERT [dbo].[LichThi] ([MaLichThi], [MaMon], [MaPhong], [NgayThi], [CaThi], [HinhThucThi]) VALUES (15, N'AI03', N'P303', CAST(N'2026-05-22' AS Date), 1, N'Tự luận')
SET IDENTITY_INSERT [dbo].[LichThi] OFF
GO
INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [SoTinChi]) VALUES (N'AI03', N'Trí tuệ nhân tạo', 2)
INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [SoTinChi]) VALUES (N'JAVA01', N'Lập trình Java Cơ bản', 3)
INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [SoTinChi]) VALUES (N'SQL02', N'Cơ sở dữ liệu SQL Server', 3)
GO
INSERT [dbo].[PhongThi] ([MaPhong], [TenPhong], [SucChua]) VALUES (N'P101', N'Phòng Máy 01', 40)
INSERT [dbo].[PhongThi] ([MaPhong], [TenPhong], [SucChua]) VALUES (N'P202', N'Phòng Máy 02', 60)
INSERT [dbo].[PhongThi] ([MaPhong], [TenPhong], [SucChua]) VALUES (N'P303', N'Hội trường A', 150)
GO
INSERT [dbo].[Users] ([Username], [Password], [FullName], [UserRole]) VALUES (N'Admin@gmail.com', N'123456', N'Nguyễn Thị Phương Linh', N'Admin')
INSERT [dbo].[Users] ([Username], [Password], [FullName], [UserRole]) VALUES (N'giangvien01@gmail.com', N'123456', N'Thầy Đào Ngọc Tú', N'GiangVien')
INSERT [dbo].[Users] ([Username], [Password], [FullName], [UserRole]) VALUES (N'sinhvien01@gmail.com', N'123456', N'Nguyễn Minh Ngọc', N'SinhVien')
GO
ALTER TABLE [dbo].[CoiThi]  WITH CHECK ADD FOREIGN KEY([MaLichThi])
REFERENCES [dbo].[LichThi] ([MaLichThi])
GO
ALTER TABLE [dbo].[LichThi]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonHoc] ([MaMon])
GO
ALTER TABLE [dbo].[LichThi]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongThi] ([MaPhong])
GO
USE [master]
GO
